*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(280,155,200,0.4),rgba(185,200,555,0.8));
}
.music-player{
    font-size: 16px;
    width: 80vw;
    max-width: 25em;
    background-color: aliceblue;
    padding: 3em 2em ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px rgba(50, 200, 100, a0.7);
    border-radius: 8px;


}
img{
    width: 100%;
    margin-top: 1.25em;
    border-radius: 1em;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}
#playlist{
    float: right;
    background-color: transparent;
    border: none;
}


.song-details{
    font-family: 'poppins',sans-serif;
    text-align: center;
}
.song-details #song-name{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .3px;
}

.song-details #song-artist{
    font-size: .8em;
}
.player-options{
    display: flex;
    max-width: 100%;
    margin-right: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.25rem;
    margin: 1.25rem 0 0.6em 0 ;
}
.player-options button{
    border: none;
    background-color: transparent;
}
#play, #pause{
    background-color: rgb(10, 100, 200) ;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;
}
#prev, #next{
    color: black;
    font-size: 1.4em;
}
#shuffle, #repeat{
    color: rgb(50, 100, 50 , 0.7);
    font-size: 1em;
}
.hide{
    display: none;
}
#progress-bar{
    position: relative;
    background-color: gray;
    width: 100%;
    height: .3em;
    margin: 1em 0;
    border-radius: 2em ;
    cursor: pointer;

}
#current-progress{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: rgb(10, 100, 200);
    width: 50%;
    height: 100%;
    border-radius: 2em;
}
.time-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'open sans',sans-serif;
}

#playlist-container{
    background-color:rgba(245, 223, 255, 0.9) ;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px rgba(60, 95, 105, 0.8);
    overflow: auto;
    scroll-behavior: smooth;
    
}
#close-button{
background-color: transparent;
border: none;
height: 2em;
width: 2em;
margin-left: 90%;
font-size: 20px;

}
ul{
   list-style-type: none;
   

}
li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
  
    
}
.playlist-song-details{
    margin: 1rem;
   
}
.playlist-image-container{
    width: 4em;
   
    margin-left: 10px;
    position: relative;
    top: -120px;
  
}


.playlist-song-details > span{
 display: block;
 position: relative;
 top: -120px;
 
 

}
#playlist-song-artist-album{
    color: gray;
    position: relative;
    top: -120px;
   
}
button.active i{
    color: thistle;
}
@media (max-width: 576px){
    .music-player{
        font-size: 14px;
    }
}